@import '../globals.scss';

.chip{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba($white, .5);
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
  transition: .3s;

  small{
    margin: 0;
    padding: 0;
  }

  &.active{
    background-color: rgba($white, .2);
  }
}