@import '../globals.scss';

.custom-image-display {
  // background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;

    img{
      height: 40vh;
      width: 40vh;
      border: 2px solid $white;
      margin-bottom: 3vh;
      object-fit: cover;
    }

    &__caption{
      position: absolute;
      top: 2px;
      background-color: rgba($black, .3);
      color: $white;
      padding: 0.5rem;
      font-size: .8rem;
      font-weight: 700;
      
      &__title{
        right: 2px;
      }
      
      &__date{
        right: 2px;
      }

    }
  }
}