@import '../../globals.scss';
@import '../../pages/planner/app.scss';

.air-item{
  display: flex;
  flex-direction: column;

  &.large{
    align-items: center;
  }

  p{
    margin: 0;
    padding: 0;
  }

  .name{
    font-size: .8rem;

    &.large{
      font-size: 1.2rem;
    }
  }

  .value{
    font-size: 1.2rem;
    font-weight: 800;

    &.large{
      font-size: 4rem;
    }
  }
}
