@import '../../globals.scss';
@import '../../pages/planner/app.scss';

.weather-overview{
  @extend .dashboard-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35%;

  p{
    margin: 0;
    padding: 0;
  }

  .infos{
    width: 50%;
    .title{
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    
    .current-temp{
      font-weight: 800;
      font-size: 2.5rem;
    }

  }
  
  .row{
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .precipitations{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .value{
      font-size: 2.5rem;
      line-height: 35px;
      margin: 0;
      padding: 0;
    }
  }
  
  .text{
    font-size: 1rem;
  }
}