@import '../../globals.scss';
@import '../../pages/planner/app.scss';

.weather-overview{
  @extend .dashboard-box;
  display: flex;
  flex-direction: column;
  flex: .6;

  p{
    margin: 0;
    padding: 0;
  }

  .title{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 1px solid $white;
  }

}