@import '../globals.scss';

.about{
  padding-top: 10vh;
  height: auto;
  padding-bottom: 40px;

  .content{
    .images-container{
      height: 40vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5vh;

      img{
        max-height: 100%;
      }
    }
  }
}