@import '../globals.scss';

.contact{
  height: $page-height;
  padding: 40px 150px 40px 150px;
  padding-top: 10vh;

  &__form{
    width: 40%;

    &__group{
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      input, textarea{
        border: none;
        border-bottom: 1px solid $white;
        padding: 10px 0;
        font-size: 1.5rem;
        color: $white;
        background-color: transparent;
        transition: all .3s;

        &:focus{
          outline: none;
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}