@import '../globals.scss';

.gallery {
  @extend .global-page;
  padding-bottom: 10vh;

  @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
    display: none;
  }

  .filters{
    display: flex;
    flex-direction: row;

    .filter{
      input[type="radio"]{
        display: none;
      }
      label{
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $black;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: $black;
          color: $white;
        }
      
      }
    }
  }
}

.gallery-mobile {
  display: none;

  .link {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-image: url('../../../public/images/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
    display: block;
    height: $page-height;
  }
}