@use '../globals.scss';

#home{
  font-family: globals.$dmmono-font;
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 100px;
  background-color: red;

  @media screen and (max-width: 992px) {
    height: auto;
  }
}
