@import '../globals.scss';

.mobile-app{
  @extend .global-page;
  padding-top: 0;

  .slide{
    height: $page-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: lightslategray;

    &.full{
      height: 100vh;
    }

    &.auto{
      // background-color: $orange;
      height: auto;
      padding: 15vh 0;
    }

    &.reverse{
      flex-direction: row-reverse;
    }

    .slide-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      // background-color: lightsteelblue;


      .title{
        margin: 0;
        font-size: 50px;
        font-weight: 800;
        text-transform: uppercase;
      }

      .subtitle{
        margin: 0;
        font-size: 30px;
        font-weight: 500;
      }

      .text{
        font-size: 22px;
        font-weight: 400;
        margin-top: 10vh;
        margin-bottom: 0;
      }

      .gplay-badge{
        max-width: 200px;
      }
    }

    .slide-image{
      width: 50%;
      // background-color: lightpink;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12vh 0;

      &.main{
        padding: 0;
      }

      &.slide-image-bottom{
        justify-content: flex-end;
      }

      img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;

        &.small{
          max-height: 50%;
          max-width: 50%;
          align-self: center;

        }

        &.reverse{
          transform: translateX(-25%);
        }
        
        &.no-transform{
          transform: none;
          transform: translateX(-10%);
        }
      }
    }
  }

}