@import '../globals.scss';

.ressource {
  height: $page-height;
  padding-top: 10vh;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
    height: auto;
    padding-top: 5vh;
  }

  @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
    flex-direction: column;
  }


  &__left {
    width: 60%;

    @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
      width: 100%;
    }

    &__subtitle {
      font-size: 1.2rem;

      @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
        font-size: 1rem;
      }

      @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
        text-align: justify;
      }
    }

    &__description {
      white-space: pre-line;
      margin-top: 3vh;
      font-size: 1.2rem;

      @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
        font-size: 1rem;
      }

      @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
        text-align: justify;
      }
    }

    &__breadcrum {
      margin: 0;
      font-size: 1.1rem;
    }

    &__infos {
      margin-top: 3vh;

      p {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 1.1rem;

        @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
          font-size: 1rem;
        }
      }
    }

    &__download-container {
      margin-top: 3vh;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
        justify-content: center;
      }

      &__download-button {
        background-color: $white;
        color: $black;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }

  &__right {
    width: 40%;
    height: 100%;
    text-align: right;

    @media screen and (max-width: map-get($breakpoints, 'tablet-min')) {
      width: 100%;
      margin-top: 5vh;
    }

    @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
      margin-bottom: 5vh;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}