@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@font-face {
  font-family: 'GilroyBlack';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Gilroy-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'GilroyRegular';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}
