@use './variables';
@forward './variables';

body {
  background-color: variables.$black;
  padding: 10px 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: variables.$white;
  margin: 0;
  padding: 0;
  font-family: variables.$gilroy-font;
}

p {
  color: variables.$white;
  font-family: variables.$gilroy-font;
  font-size: 22px;
}
