@use './variables';
@forward './variables';

body {
  background-color: variables.$black;
  padding: 10px 40px;

  @media screen and (max-width: 992px) {
    padding: 10px 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: variables.$white;
  margin: 0;
  padding: 0;
  font-family: variables.$gilroy-font;

  @media screen and (max-width: 992px) {
    font-size: 1.5rem;
  }
}

p {
  color: variables.$white;
  font-family: variables.$gilroy-font;
  font-size: 22px;
}

.accent {
  color: variables.$accent !important;
}
