@import './colors.scss';
@import './fonts.scss';

$breakpoints: ('sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

$navbar-height: 80px;
$page-height: calc(100vh - $navbar-height);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  color: $white;
}

p{
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.h1{
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.h2{
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.h3{
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}
