@import '../../globals.scss';

.planner-app {
  @extend .global-page;
  padding-top: 0;

  @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
    height: auto;
  }

  .app-loading{
    @extend .app;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p{
      margin-top: 2vh;
    }
  }

  .app{
    border: 1px solid $white;
    border-radius: 10px;
    height: 80vh;
    
    @media screen and (max-width: map-get($breakpoints, 'tablet-max')) {
      height: auto;
    }
    
    .header{
      height: 6vh;
      border-bottom: 1px solid $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      .right, .left{
        display: flex;
        flex-direction: row;
        align-items: center;

        .title{
          margin-bottom: 0;
        }
      }
    }

    .body{
      height: 74vh;
      display: flex;
      flex-direction: row;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;

      .left{
        flex: 1;
        height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .middle{
        flex: 1;
      }

      .right{
        width: 60%;
        flex: 1;
      }

    }
  }
}

.dashboard-box{
  border: 1px solid rgba($white,.05);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba($white, .05);
}




