@import '../../../../globals.scss';
@import '../../../../pages/planner/app.scss';

.astro-object-infos{
  @extend .dashboard-box;
  flex: 1;

  .head{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;

    .name{
      font-size: 30px;
      line-height: 30px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .object-image{
      max-height: 12vh;
    }

    .notes{
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }

  .infos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    table{
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;

      td{
        padding: 8px;
        border: 1px solid $white;
        text-align: left;

        &.row-title{
          font-weight: 800;
          color: $white;
          opacity: .8;
        }
      }
    }
  }
}