@import '../../../../globals.scss';
@import '../../../../pages/planner/app.scss';

.astro-object-item{
  @extend .dashboard-box;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // gap: 25px;
  

  &:hover, &.active-object{
    background-color: rgba($white, .2);
  }

  p{
    margin: 0;
    padding: 0;
  }

  .object-image{
    max-height: 45px;
  }

  .property{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    small{
      text-transform: uppercase;
      font-weight: 800;
    }

    p{
      font-size: 1.1rem;
    }
  }

  &.well-visible{
    -webkit-box-shadow:inset 55px 0 0px -50px rgba(0,255,0,1);
    box-shadow:inset 55px 0 0px -50px rgba(0,255,0,1);
  }

  &.not-visible{
    -webkit-box-shadow:inset 55px 0 0px -50px rgba(255,0,0,1);
    box-shadow:inset 55px 0 0px -50px rgba(255,0,0,1);
  }
}