@import '../../../../globals.scss';
@import '../../../../pages/planner/app.scss';

.astro-object-infos{
  @extend .dashboard-box;
  flex: 1;

  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vh;

    .name{
      font-size: 30px;
      line-height: 30px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .object-image{
      max-height: 12vh;
    }
  }

  .infos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
}