@use '../../globals.scss';

.features-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;

  @media screen and (max-width: 992px) {
    margin-top: 50px;
  }

  .section-title{
    font-size: 32px;
    text-transform: uppercase;
    font-family: globals.$gilroy-font;
    font-weight: 900;
    margin-bottom: 20px;

    @media screen and (max-width: 992px) {
      font-size: 1.8rem;
      margin-bottom: 0px;
    }
  }

  .selector{
    display: flex;

    @media screen and (max-width: 992px) {
      flex-direction: column;

    }

    .illustration-side{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: red;
  
      .illustration{
        max-width: 90%;
      }

      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  
    .menu-side{
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (max-width: 992px) {
        width: 100%;
        margin-top: 0px;
      }

      .menu-button{
        background: none;
        outline: none;
        border: none;
        padding: 20px 0;
        border-bottom: 1px solid globals.$white;
        text-align: left;

        .menu-button-header{
          display: flex;
          justify-content: space-between;
          align-items: center;

          p{
            font-weight: 500;
            font-family: globals.$dmmono-font;
            font-size: 20px;

            @media screen and (max-width: 992px) {
              font-size: 16px;
            }
          }

          img{
            width: 25px;
            height: 25px;
            transition: transform 0.3s ease;

            &.accent {
              filter: brightness(0) saturate(100%) invert(86%) sepia(27%) saturate(1086%) hue-rotate(349deg) brightness(100%) contrast(95%);
            }

            @media screen {
              width: 20px;
              height: 20px;
            }
          }
        }

        .button-content{
          font-family: globals.$gilroy-font;
          font-size: 18px;
          margin-top: 5px;

          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
        }

        .button-illustration{
          width: 75%;
          height: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;

          @media screen and (min-width: 992px) {
            display: none;
          }
        }
      }
    }
  }
}
