@use '../../globals.scss';

.landing-container {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('/images/m64_ifn.jpeg');
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 75vh;
  border-radius: 20px;
  border: 1px solid rgba($color: globals.$white, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  overflow: hidden;

  .left, .right{
    display: flex;
    flex-direction: column;
    // width: 50%;
  }

  .left{
    padding: 40px;
    flex: 1;
    // background-color: red;

    h1{
      font-size: 4.2rem;
      text-transform: uppercase;
      font-family: globals.$gilroy-font;
      line-height: 1.1;
    }

    .subtitle{
      font-size: 1.5rem;
      font-family: globals.$gilroy-font;
      position: relative;
      // padding-left: 40px;

      // &::before{
      //   // Add an image
      //   content: " ";
      //   display: block;
      //   width: 32px;
      //   height: 32px;
      //   background-image: url('/images/icons/star.png');
      //   background-size: contain;
      //   background-position: center;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
    }

    .landing-cta-container{
      margin-top: 20vh;
      width: 70%;

      p{
        font-size: 1.5rem;
        font-family: globals.$gilroy-font;
        position: relative;
      }

      .download-link {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        font-family: globals.$dmmono-font;
        font-size: 1.2rem;
        font-weight: 500;
        color: globals.$black;
        text-decoration: none;
        background-color: globals.$accent;
        padding: 15px 30px;
        border-radius: 10px;
        margin-top: 20px;
      
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .right{
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;

    img{
      height: 65vh;
      margin-right: 40px;
    }
  }
}
